@import '../colors';
@import '../sizeConstants';

.factionRoleEditor{
  color: $norm_text_color; // for the bullet points
  padding: 0 8% 2%;

  li{
    padding: 1.5% 0;
  }
}

@media (max-width : 600px){
  .factionRoleEditor{
    padding-right: $chat_ticker_expander_width;
  }
}
