@import './setupConstants';


.hiddenEditorContainer{
  height: $entityEditorHeight;
  min-width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hiddenEditorTextInput.MuiFormControl-root{
  width: $entityTextInputMainWidth;
  margin-bottom: $entityTextInputMainSpacing;
}