@import '../shared';
@import '../sizeConstants';

@import './setupConstants';


.setupEditorPane{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .titledListContainer{
    padding: 5px;
  }
}

.setupEditorHeader{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

button.setupEditorHeaderButton{
  max-height: 40px;
}

.setupEditorAdvancedToggle{
  width: 128px;
  margin-left: 20px;
  margin-bottom: $tabletEntitiesSpacing;
}

.setupEntitiesContainer{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-color: $grey;

  .startButton{
    display: none;
  }
}

.factionsContainer, .factionRolesContainer{
  display: flex;
  flex-direction: column;
  height: 0;
}

.factionsContainer{
  flex-grow: 2;
}

.factionRolesContainer{
  flex-grow: 3;
}

.setupBaseEntitiesContainer{
  display: flex;
  width: 50%;
  flex-direction: column;

  .entityDetailsContainer{
    display: none;
    overflow-y: scroll;
  }

  .factionsContainer{
    min-height: initial;
    border-bottom: $over_view_border_thickness solid $over_view_border_color;
  }
}

.setupHiddensContainer{
  border-left: $over_view_border_thickness solid $over_view_border_color;
  width: 50%;
}

$entityButtonMargin: 1.5vw;
.setupEntityListButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: $over_view_border_thickness solid $over_view_border_color;

  .narratorButton{
    width: 40%;
    margin: 2.5% 0;
    padding: 5px 3px;
  }
}

@media (max-width : 600px){
  .setupEntitiesContainer {
    height: 100vh - $nav_button_height - $chat_ticker_height - $overview_role_card_height;
  }

  .setupEntityListButtons .narratorButton {
    font-size: $smallTextFontSize;
  }
}

@media (min-device-width : 600px) and (orientation: landscape) {
  .setupEditorPane > .entityDetailsContainer{
    display: none;
  }

  .setupBaseEntitiesContainer{
    width: 0;
    flex-grow: 8;
    margin-right: $tabletEntitiesSpacing;

    .entityDetailsContainer{
      display: flex;
      flex-direction: column;
      width: 0;
      flex-grow: 1;
    }

    .titledListContainer{
      width: $entityListWidth;
      border-right: 1px dashed #f2f2f2
    }

    .factionsContainer{
      margin-bottom: 2vh;
    }

    .factionRolesContainer, .factionsContainer{
      border: $over_view_border_thickness solid $over_view_border_color;
      flex-grow: 1;
    }
  }

  .setupEntitiesContainer{
    .titledListItems{
      margin-bottom: $tabletEntitiesSpacing;
    }

    .startButton{
      margin-top: 1vh;
      padding: 2.5vh 0 1.5vh;
      font-size: 1.3rem;
      display: initial;
    }

    .startButton{
      margin: 0 2vh $tablet_setup_panel_LR_margin;
    }
  }

  .setupEntityListButtons, .setupEditorPane .entityDetailsContainer{
    border-top: 0;
  }

  .factionsContainer, .factionRolesContainer{
    flex-direction: row;
  }

  .setupEditorPane .setupHiddensContainer{
    width: initial;
    flex-grow: 1;
    @include nar_border;
  }
}
