@import '../colors';


.lobbySetupHiddens {
  border: 1px solid #979B97;
  border-radius: 6px;
  padding: 15px;

  .titledListHeader{
    margin-top: 0;
    padding: 0;
    color: $dark_text_color;
  }

  .startButton{
    margin-top: 1vh;
  }
}