@import "../colors";
@import "../sizeConstants";

@import "./phaseLengthEditor";
@import "./lobbyConstants";

.lobbyDetailsHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.lobbyDetailsHeaderText{
  font-size: $largeTextFontSize;
}

.lobbyTextDetailsHeader{
  font-weight: bold;
  margin-right: 5px;
}

.lobbyDetailsSection, .lobbyOverviewVoteContainer, .lobbyOverviewMiscContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

$margin_bottom: 15px;

.lobbyDetailsSection{
  align-items: center;
}

.lobbyWindowElement{
  width: 108px;
  margin: 0 30px $margin_bottom 0;
}

.lobbyEditorAdvancedController, .lobbyDetailsContainer{
  border: 1px solid $grey3;
  border-radius: $roundedContainerRadius;
  background-color: $sectionColor;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.lobbyOverviewSetupDropdown{
  margin: 0 10px 15px 0;
}

.lobbyDetailsSetupExpander{
  font-size: $largeTextFontSize;
  cursor: pointer;
}

.wideDropdown{
  width: 160px;
}

.lobbyDetailsTextSubsection{
  display: flex;
  flex-direction: column;
}

.lobbyDetailsTextHeaderContainer{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: $normTextFontSize;

  i{
    cursor: pointer;
  }
}

.lobbyOverviewDetailsContainer{
  width: 100%;
}

$ulLeftPadding: 5px;
.lobbyOverviewDetails{
  font-size: $normTextFontSize;
  list-style-type: circle;
  padding-left: $ulLeftPadding;
  margin-bottom: 10px;
  span {
    margin-left: -13px + $ulLeftPadding;
  }
}

.lobbyShowAdvancedText, .showMoreText{
  font-size: $smallTextFontSize;
  align-self: flex-end;
  cursor: pointer;
}

.lobbyOverviewAdvancedIcon{
  margin: 0 5px;
}

@media (min-width: $tabletDesktopMinWidth){
  .narratorButton.lobbyHeaderStart{
    display: none;
  }
}
