@import '../colors';
@import './lobbyConstants';

#lobbyChatPane{
  height: 100%;
}

.lobbyChatContainer{
  flex-grow: 3;
  height: 100%;
  padding-left: 0;
}

@media (min-width: $cellTabletMinWidth) {
  .lobbyChatTicker {
    display: none;
  }
}