@import '../colors';
@import '../sizeConstants';

@import './lobbyConstants';


.playersOverview {
  width: 100%;
  height: 0;
  min-height: 220px;
  flex-grow: 1;
  max-width: $maxPlayerWidth;
}

.playersOverviewHeader{
  font-size: $normTextFontSize;
  margin-bottom: 10px;
}

.playerOverview{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid $grey3;
  border-radius: $roundedContainerRadius;
  margin-top: 10px;
  padding: 7px;
  cursor: pointer;

  background-color: $sectionColor;
  font-size: $normTextFontSize;
}

.playersOverview:first-child {
  margin-top: 0;
}

.playerOverviewHeaderContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.playerOverviewHeaderTextContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playerOverviewMenu{
  color: $dark_text_color;
  font-size: $largeTextFontSize;
  margin-left: 15px;
}

.playerOverviewHeaderText{
  margin: 0 4px;
}

.playerNameEditIcon{
  cursor: pointer;
}

.playerOverviewDetails{
  display: flex;
  flex-direction: column;
  font-size: $smallTextFontSize;
  margin: 10px 0;
}

.playerOverviewButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (min-width: $cellTabletMinWidth) {
  .playersOverview {
    overflow-y: scroll;
  }
}
