@import "../sizeConstants";

.doubleListContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  height: 0;
  width: 100%;

  font-size: $normTextFontSize;
}

.doubleListContainerUL{
  max-height: 100%;
  padding: 5px;
  overflow-y: auto;
  flex: 1;
  cursor: pointer;
}

.doubleListSubContainer{
  display: flex;
  flex-direction: column;
}

.doubleListHeader{
  text-align: center;
}
