@import '../colors';
@import '../shared';
@import '../sizeConstants';


.entityDetailsContainer{
  overflow-y: auto;
  border-top: $over_view_border_thickness solid $over_view_border_color;
  background-color: $grey;
}

$entityImgSize: 80px;
$entityImgMarginTop: 1vh;
$entityImgMarginBottom: 0.5vh;
.entityDetailsHeader{
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 95px;
}

.entityDetailsHeaderTextContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.entityDetailsHeaderText{
  font-weight: 700;
  font-size: 1.15rem;
  text-align: center;
  padding-top: 2%;
}

.entityDetailsSubheaderText{
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.entityDetailsImg{
  position: absolute;
  width: $entityImgSize;
  height: $entityImgSize;
  margin: $entityImgMarginTop 2% $entityImgMarginBottom;
}

.MuiButton-root.entityDetailsEditorButton{
  font-size: $normTextFontSize;
  max-width: 350px;
  align-self: center;
}

.entityDetailsList{
  font-size: 1rem;
  padding: 0 20px 2%;

  li {
    padding-top: 1.5%;
    color: $norm_text_color;
  }
}

@media (max-width : 600px){
  .entityDetailsContainer {
    height: $overview_role_card_height;
  }

  .entityDetailsList{
    padding-right: $chat_ticker_expander_width;
  }
}
