@import '../colors';
@import '../sizeConstants';


.floatingTintedContainerBackground{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $backgroundTint;
  z-index: 1;
}

.floatingTintedContainer{
  background-color: $white;
  padding: 20px;
  border-radius: $defaultBorderRadius;
}