.playerIconContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: $largeTextFontSize;
  border-radius: 5px;
  background-color: $black1;
  min-width: 40px;
  margin-right: 7px;
}

.playerIcon{
  padding: 3px;
}

.playerIconSpacer{
  height: 100%;
}
