@import '../colors';
@import '../shared';
@import '../sizeConstants';

.titledListContainer{
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.titledListHeader{
  color: $norm_text_color;
  font-size: 1.3rem;
  text-align: center;
  padding: 2%;
}

.titledListItems{
  flex-grow: 1;
  text-align: center;

  font-size: 1rem;
  overflow-y: auto;
  list-style: none;

  .rSetupFocused{
    background-color: $selected_list_element_color;
  }

  .rSetupBG{
    background-color: $selected_list_element_color_bg;
  }
}

.titledListItem{
  position: relative;
  padding: 0.5vh 10%;
  cursor: pointer;
}

.titledListItemActionIconContainer{
  position: absolute;
  right: 15px;
  top: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titledListItemActionIcon{
  font-size: 1rem;
  color: $norm_text_color;
}

@media (min-width : 600px) and (orientation: landscape) {
  .titledListHeader{
    margin: 10px 0;
  }
}
