body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #382C2C;
}

#game_log {
  margin: 0;
  margin-top: 1vh;
  margin-bottom: 1vh;
  top: 0;
  position: fixed;
  width: 40vw;
  height: 100vh;
  padding: 0 0 0 1vw;
  background-color: #302626;
}
#game_log li {
  color: white;
  list-style: none;
  padding-bottom: 2.5vh;
  font-size: 90%;
}
#game_log .deathDescriptor {
  width: 100%;
  text-align: center;
  display: block;
  color: #a99;
}

.deathLabel {
  position: fixed;
  color: #a99;
}

.deathInput {
  position: fixed;
  top: 5vh;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.5);
  width: 10vw;
}

.deathList {
  position: fixed;
  top: 13vh;
  height: 35vh;
  width: 13vw;
  padding: 0;
  background-color: #403838;
  overflow-y: auto;
  cursor: pointer;
}
.deathList li {
  list-style: none;
  text-align: center;
  font-size: 90%;
  color: white;
}
.deathList li:hover {
  background-color: #6E5E5E;
}
.deathList li.selected {
  background-color: #655;
}

#setupLabel {
  left: 45vw;
  top: 5vh;
}

#setupInput {
  left: 50vw;
}

#playerLabel {
  top: 5vh;
  right: 20vw;
}

#playerInput {
  left: 81vw;
}

#killLabel {
  top: 12vh;
  left: 50vw;
}

#killTypes {
  right: 40vw;
}

#deadLabel {
  top: 12vh;
  right: 12vw;
}

#deadTypes {
  right: 8vw;
}

#teamLabel {
  top: 12vh;
  right: 27vw;
}

#teamTypes {
  right: 24vw;
}

h2 {
  color: white;
  padding: 0;
  margin: 0;
  top: 0;
}

h1 {
  color: white;
  padding: 0;
  margin: 0;
  top: 0;
}

.clickedButton {
  background: #821122;
}

.unclickedButton {
  background: #3F3F3F;
}

#options_banner {
  position: relative;
  width: 40%;
  left: 60%;
  height: 100%;
}

#options_title {
  position: absolute;
  width: 100%;
  height: 5%;
  text-align: center;
  top: 0;
}

#options_size {
  position: absolute;
  width: 100%;
  height: 20%;
  text-align: center;
  top: 10%;
}

#options_actors {
  position: absolute;
  width: 100%;
  height: 15%;
  top: 30%;
}

#options_story {
  position: absolute;
  width: 100%;
  height: 40%;
  text-align: center;
  top: 45%;
}

#options_submit {
  position: absolute;
  width: 100%;
  height: 15%;
  text-align: center;
  top: 85%;
}

.actors {
  position: absolute;
  width: 50%;
  height: 100%;
  text-align: center;
}

#killer {
  left: 0;
}

#victim {
  right: 0;
  border-left: 2px;
  border-left-style: solid;
  border-left-color: teal;
}

#genre_field {
  position: absolute;
  left: 60%;
  top: 0;
  width: 30%;
  height: 40%;
  border-right: black;
  border-style: solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-width: thin;
  background: #5f5f5f;
  color: white;
}

#story_text {
  position: fixed;
  width: 49vw;
  height: 25vh;
  background-color: #403838;
  bottom: 19vh;
  left: 45vw;
  color: white;
}

#story_title {
  margin-top: 10%;
}

.size {
  position: absolute;
  width: 12%;
  height: 30%;
  top: 30%;
  max-height: 70px;
  max-width: 80px;
}

#size_15 {
  right: 50%;
  border-right: black;
  border-style: solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-width: thin;
  color: white;
}

#size_30 {
  left: 50%;
  color: white;
  border: none;
}

#killer_list {
  visibility: hidden;
  list-style-type: none;
  position: fixed;
  z-index: 2;
  left: 64.4%;
  top: 45.5%;
  margin: 0;
}

#killer_list li {
  color: white;
  background: #3f3f3f;
  border: 1px;
  border-color: white;
  border-style: solid;
}

#killer_select {
  position: absolute;
  bottom: 0;
  width: 44%;
  left: 30%;
}

#victim_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#victim_list li {
  color: white;
  background: #3f3f3f;
  border: 1px;
  border-color: white;
  border-style: solid;
}

#victim_select {
  position: absolute;
  bottom: 0;
  width: 40%;
  right: 30%;
}

#victim_nano_div {
  visibility: hidden;
  position: fixed;
  z-index: 2;
  left: 88%;
  top: 45.5%;
  height: 100%;
  margin: 0;
  width: 100%;
  max-width: 100.2px;
  max-height: 220px;
  overflow-y: auto;
}

#victim_slider {
  left: 83%;
}

.styled_select select {
  background: #2f2f2f;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  color: white;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
}

#log {
  margin: 2%;
  width: 56%;
  height: 88%;
  position: absolute;
  left: 0;
}

#submit_button {
  cursor: pointer;
  position: absolute;
  right: 20vw;
  bottom: 5vh;
  width: 20vw;
  height: 5vw;
  border-right: black;
  border-style: solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-width: thin;
  background: #821122;
  color: white;
}

#previous_story {
  cursor: pointer;
  position: fixed;
  left: 45vw;
  bottom: 1vw;
  width: 12vw;
  height: 5vh;
  right: 50%;
  border-right: black;
  border-style: solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-width: thin;
  background: #3f3f3f;
  color: white;
}

#next_story {
  cursor: pointer;
  position: fixed;
  right: 5vw;
  bottom: 1vw;
  width: 12vw;
  height: 5vh;
  border-right: black;
  border-style: solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-width: thin;
  background: #3f3f3f;
  color: white;
}

/*# sourceMappingURL=deatheditor.css.map */
