* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
	font-size: 200%;
	color: #F2F2F2;
	background: #222222;
	margin-left: 5%;
	text-align: center;
}

ul{
	list-style: none;
}

li{
	margin: 1%;
}

.headerLabel{
	text-align: center;
	font-size: 200%;
}

@media only screen and (min-width : 768px) {
	body{
		font-size: 150%;
	}
	li{
		margin: 0.2%;
		margin-left: 15%;
		margin-right: 15%;
	}
}

@media only screen and (min-width : 992px) {
	body{
		font-size: 100%;
	}

	li{
		margin: 0.2%;
		margin-left: 20%;
		margin-right: 20%;
	}
}