@import '../../colors';
@import '../../sizeConstants';

@import './chatTicker';

.chatContainer{
  display: flex;
  height: 100%;
  flex-direction: column;
}

.chatUL{
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  max-height: 100%;
  overflow-y: scroll;

  background-color: $white;
  margin-bottom: 3%;
  padding: 9px 9px 9px 0;
}

.chatInput{
  width: 100%;
  padding: 7px;
}

.chatMessage{
  display: flex;
  flex-direction: row;
  font-size: $normTextFontSize;
  margin-bottom: 5px;
}

.chatMessageIcon{
  background-color: $black1;
  padding: 3px;
  border-radius: 5px;
}

.chatSpeakerNameTime{
  width: 100%;
}

.chatSpeakerName{
  font-weight: bold;
}

.chatMessageTime{
  font-size: $smallTextFontSize;
  margin-left: 5px;
}

.chatMessageText{
  word-break: break-word;
}
