@import "../../colors";
@import "../../sizeConstants";


.chatTickerContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 5px;
  border-radius: $defaultBorderRadius $defaultBorderRadius 0 0;

  color: $norm_text_color;
}

.chatTickerTextContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: $normTextFontSize;
}

.chatTickerText{
  margin-left: 8px;
}

.chatTickerMessageOpener{
  font-size: $largeTextFontSize;
}
