@import '../colors';

.gradientContainer{
  display: flex;
  flex-direction: column;
}

.gradientHeader{
  color: white;
  text-shadow: 0 1px 0 black;
  text-align: center;
  font-size: 2rem;
  margin: 1.5vh 0;
}

.gradientChild{
  text-align: center;
  background-color: $target_deselected;
  text-shadow: initial;
  font-size: 1.9rem;
  margin: 1.5vh 0;
  padding: 1.5vh;
}

@media (min-device-width : 600px) and (orientation: landscape){
  .gradientChild{
    font-size: 1.1rem;
  }

  .gradientHeader{
    font-size: 1.3rem;
  }
}
