@import '../sizeConstants';

$globalUsersHeaderPadding: 2vh;
$globalUsersSidePadding: 0 2vw;

.globalUsersLayoutContainer{
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: $globalUsersSidePadding;
}

.globalUsersHeader{
  font-size: $normTextFontSize;
  padding: $globalUsersHeaderPadding 0;
}

@media (max-width: 600px) {
  .globalUsersPositionContainer{
    height: 60vh;
    width: 80vw;
    position: fixed;
    right: 10vw;
    top: 20vh;
  }

  .globalUsersHeader{
    font-size: $largeTextFontSize;
    padding: 10px;
  }
}
