@import '../colors';
@import '../sizeConstants';

@import './globalUsers';

.homePageContainer{
  border-radius: $roundedContainerRadius;
}

.lobbiesContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

Button.createGameButton{
  margin-bottom: $fullPageContainerHeightSpacing;
}

.lobbiesTable{
  flex-grow: 3;
  background-color: $white;
  margin-bottom: 2vh;
}

.globalChatContainer{
  flex-grow: 2;
  background-color: $white;
  padding: $globalUsersSidePadding;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

table.lobbiesTableColor{
  background-color: $white;
}

.lobbyRowFinished{
  background-color: $grey3;
}

.lobbyRowStarted{
  background-color: $red2;
}

.lobbyRowUnstartedFull{
  background-color: $yellow;
}

.lobbyRowUnstarted{
  background-color: $green2;
}

.lobbyRowPhaseLength{
  white-space: nowrap;
}

.lobbyMainActionContainer{
  background-color: $grey2;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lobbyMainActionIcon{
  color: $iconColor;
  font-size: $normTextFontSize;
  padding: 1vh 3vw;
}

.globalChatHeader{
  font-size: $normTextFontSize;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $globalUsersHeaderPadding 0;
}

.globalUsersContainer{
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.globalUsersIcon{
  padding: 4px;
  margin: 4px 0 4px 4px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

.globalChat{
  flex-grow: 1;
}


.globalChatUserContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 2;

  .globalUsersLayoutContainer{
    margin-left: 2vh;
  }
}

@media (max-width : 600px){
  td.lobbyExtraColumns, th.lobbyExtraColumns{
    display: none;
  }

  .globalChatUserContainer .globalUsersLayoutContainer{
    display: none;
  }

  .globalChatContainer{
    padding: 0 4vw;
  }

  .globalUsersContainer{
    display: flex;
  }

  .globalChatHeader{
    padding: 1vh 0;
  }
}
