//http://colorpalettes.net/color-palette-3140/
//http://colorpalettes.net/color-palette-2070/

$whiteBright: #fff;
$white: #f7f7f7;
$backgroundTint: rgba(0, 0, 0, 0.4);

$black1: #0C0D0D;
$green: #06D6A0;
$green2: #88FCDD;
$grey: #333533;
$grey2: #646864;
$grey3: #979B97;
$orange: #F15946;
$red: #E01A4F;
$red2: #F4A4B9;
$yellow: #F9C22E;

$themeMain: $yellow;

$nar_background_color : #222222;
$nar_background_color2 : #444;
$nar_background_button_press: #181818;
$nar_background_button_press_light: #ccc;

$nar_regular_background: $nar_background_color2;

$norm_text_color: #F7EDE2;
$dark_text_color : $nar_background_color;

$dark_background: $nar_background_color;
$medium_background: $nar_background_color2;

$selected_color: $yellow;
$selected_text_color: $selected_color;
$selected_text_color_dark: #181883;

$selected_list_element_color: #444;
$selected_list_element_color_bg: #333;

$exit_red: #8d0c27;

$main_backgroud_darker: #302626;
$main_backgroud: #382C2C;

$setup_area: $grey;


$rolesListBackground : #1A1A1A;
$tabletStartHover: #1C1C1C;

$tablet_left_background: $main_backgroud;

$target_deselected: #403838;
$target_selected: #655;
$target_selected_hover: #6E5E5E;
$target_active: #a99;
$target_half_right_selected: #8E7E7E;

$selected_tab_label_color: #7A2707;
$chat_tab_selected: $selected_color;
$chat_active_arrow: $selected_color;
$chat_background: $main_backgroud_darker;
$chat_tab_background: $tablet_left_background;


$tablet_leave: $nar_background_color2;
$tablet_leave_hover: $target_selected_hover;
$tablet_leave_active: $target_active;

$iconColor: $norm_text_color;

$button_color: #f2f0bc;
$button_delete_leave_color: #FF6666;

$voteTallyBackground: $selected_color;
$voteBallotBackground: $grey2;
