* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@import 'colors';
@import 'condorcet/codeGenerator';
@import 'condorcet/gradientContainer';
@import 'condorcet/rankingsContainer';
@import 'condorcet/standings';

body{
	background-color: $main_backgroud_darker;
	font-size: 62.5%;
}

.copiedText{
	float: left;
	clear:both;
	width: 100%;
	color: green;
	font-size: 200%;
	margin-left: 3vw;
	display: none;
}

@media (min-device-width : 1100px) and (orientation: landscape){
	.copiedText{
		position: fixed;
		right: 10vw;
		bottom: 40vh;
		width: auto;
	}
}
