@import 'colors';

.everestInputContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.setupViewer{
  display: flex;
  flex-direction: row;
  background-color: #0C0D0D;
}

h1{
  color: $norm_text_color
}
