@import 'colors';
@import 'shared';
@import 'sizeConstants';

$nar_background_color2 : #444;

$over_view_border_thickness: 1px;
$norm_text_color: #F2F2F2;

$nav_button_height : 10vh;


$main_chat_margin: 1.2vw;

$chat_input_height: 6vh;

@mixin floating_background{
	border-radius: 8% / 4%;
	background: $nar_background_color2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media (min-device-width : 600px) and (orientation: landscape){
	#tablet{
		color: rgb(255, 165, 0);
	}

	.darkenedSetupPanel{
		background-color: $setup_area;
	}

	.darkListAccent{
		border-radius: 6% / 2%;
		background-color: $rolesListBackground;
	}

	.nav_bar{
		font-size: 70%;
	}

	img.miniIcon{
		float: left;
	}

	.miniIcon{
		cursor: pointer;
		transition: color 0.3s, opacity 0.1s;
	}

	.miniIconPic{
		display: initial;
	}

	#miniIconVisualHighlight{
		opacity: 0;
		position: fixed;
		top: 0;
		left: 0;
	}

	#miniIconVisualHighlight.miniIconHover{
		opacity: 1;
	}

	#miniIconVisual.miniIconHover{
		opacity: 0;
	}


	$miniIconPic_width: 3vw;
	.miniIconPic{
		margin-left: $miniIconPic_width;
		height: $nav_button_height;
		width: $nav_button_height;
	}

	#miniIconTextWrapper{
		height: $nav_button_height;
		top: 0;
		float: left;
		margin-left: 2vw;
	}

	#miniIconText{
		height: $nav_button_height;
		margin-left: 15vw;
		font: 400% "Impact";
	}

	.miniIconHover{
		color: $selected_text_color;
		//text-shadow: 3px 3px $nar_background_button_press;
	}

	.tablet_home #nav_tab_1{
		display: none;
	}

	$nav_bar_padding: 0.75%;
	.tablet_home .nav_bar{
		$nav_button_width : 10vw;
		.nav_button{
			width: $nav_button_width;
			height: $nav_button_height;
			position: fixed;
		}
		#nav_tab_2{
			left: initial;
			right: (3 * $nav_button_width);
			//left: ($nav_button_width);
		}
		#nav_tab_3{
			left: initial;
			right: (2 * $nav_button_width);
			//left: (2 * $nav_button_width);
		}
		#nav_tab_4{
			left: initial;
			right: $nav_button_width;
			//left: (3 * $nav_button_width);
		}
		#nav_tab_5{
			left: initial;
			right: 0;
			//left: 100% - $nav_button_width;
		}

		border-bottom: 0.5px solid $over_view_border_color;
		background: $medium_background;
	}

	.tablet_home .fourButtonNav{
		$nav_button_width : 10vw;
		.nav_button{
			left: initial;
			width: $nav_button_width;
		}
		#nav_tab_2{
			right: (2 * $nav_button_width);
		}
		#nav_tab_3{
			left: initial;
			right: $nav_button_width;
		}
		#nav_tab_4{
			left: initial;
			right: 0;
		}
	}

	$setup_nav_height: 12vh;
	$nav_button_width : 10vh;
	.tablet_setup .nav_bar{
		display: none;
	}

	.tablet_setup .chat_input, .tablet_setup #miniIconTextWrapper{
		display: none;
	}

	.nav_button .nav_button_text{
		height: auto;
	}


	$tablet_nav_pane_width: 30vw;
	.tablet_game .nav_bar{
		position: fixed;
		width: 100%;
		height: $nav_button_height;

		font-size: 50%;


		@include nar_border;

		.miniIcon{
			display: none;
		}

		$game_nav_button_width: $tablet_nav_pane_width / 5;
		.nav_button{

			width: $game_nav_button_width;
			left: initial;

			z-index: 1;
		}

		.fa{
			top: 1.5vh;
		}

		#nav_tab_5{
			right: 0;
		}

		#nav_tab_4{
			right: $game_nav_button_width;
		}

		#nav_tab_3{
			right: 2 * $game_nav_button_width;
		}

		#nav_tab_2{
			right: 3 * $game_nav_button_width;
		}

		#nav_tab_1{
			right: 4 * $game_nav_button_width;
		}
	}


	$chat_ticker_expander_height: 75%;
	$chat_ticker_expander_width: 11%;
	#chat_ticker_expander{
		width: $chat_ticker_expander_width;
		height: $chat_ticker_expander_height;
		top: calc(-1 * #{$chat_ticker_expander_height});

		.fa{
			top: -30%;
			font-size: 400%;

		}
	}

	//End of home page

	/*************************/

	//main game

	#main_header{
		display: initial;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw - $tablet_nav_pane_width;
		height: $nav_button_height;

		color: $norm_text_color;
	}

	#day{
		font-size: 1.3rem;
		margin-top: 0.5vh;
		margin-left: 1vw;
	}

	#livingSpan{
		font-size: 1.1rem;
		margin-left: 1vw;
	}

	#time{
		position: fixed;
		top: 0;
		width: 100vw - $tablet_nav_pane_width;
		height: $nav_button_height;

		padding-left: $tablet_nav_pane_width;
		text-align: center;
		font-size: 1.8rem;
	}

	#your_info_wrapper{
		position: absolute;
		right: 0;
	}

	#your_info_wrapper, #your_exp_pane, #action_nav_pane, #settings_pane{
		width: $tablet_nav_pane_width;
		height: 100%;

	}

	#your_info_wrapper .changeable_display{
		width: 100%;
	}

	#your_info_wrapper .changeable_display, #action_nav_pane{
		font-size: 30%;
	}

	$pic_size: 7vw;
	#your_exp_extras{
		padding-left: 7%;
		padding-right: 7%;
		max-height: calc(68vh - #{$pic_size});
	}

	#your_exp_pane{
		img{
			width: $pic_size;
			height: $pic_size;
		}

		.roleCardHeader, .roleCardSubHeader, .roleCardExplanationText{
			padding-right: 3vw;
		}
	}

	#last_will_button{
		bottom: 8vh;
		height: 7vh;
	}

	.lw_toggle{
		bottom: 3vh;
	}

	#action_nav_pane, #settings_pane{
		right: 0;
		@include nar_border;
	}

	#actions_pane{
		width: $tablet_nav_pane_width;
		bottom: 0;
	}

	$targetable_width: 0.56 * $tablet_nav_pane_width;
	#player_list li.action_targetable_element{
		margin-left: ($tablet_nav_pane_width / 2) - ($targetable_width / 2);
    	width: $targetable_width;

    	.playername{
    		$name_margin: 4vw;
    		margin-left: $name_margin;
    		max-width: $targetable_width - ($name_margin * 2);
    	}
	}

	#playerListPane2{
		width: $tablet_nav_pane_width;
		border: 0;
	}

	#actions_pane #actions_content{
		width: 100%;
	}

	#actions_pane #add_action{
		font-size: 110%;
		margin-left: 20%;
		width: 60%;
		height: 4vh;
	}

	#end_night_button{
		left: initial;
		right: 5vw;
		width: 20vw;
		font-size: 1.1rem;
	}

	$submitted_actions_height : 24vh;
	.pl_show_actions, .pl_show_actions_no_button{
		#player_list{
			height: 100vh - $nav_button_height - $ability_header_size - $submitted_actions_height;
		}

		#actions_pane{
			height: $submitted_actions_height;
			bottom: 0;
		}
	}

	.pl_show_actions{

		#actions_header{
			height: 3vh;
		}

		#actions_content{
			height: calc(#{$submitted_actions_height} - 5vh - 3vh - 2vh);
		}

		#end_night_button{
			height: 5vh;
		}
	}

	.pl_only_button{
		#player_list{
			height: 100vh - $nav_button_height - $ability_header_size - $pl_only_button_height;
		}

		#actions_pane{
			bottom: 0;
		}
	}

	.pl_no_actions {
		#player_list{
			height: 100vh - $nav_button_height - $ability_header_size;
		}
	}

	#settings_pane{
		margin-left: $main_chat_margin / 2;
		@include nar_border;

		.settings_toggle{
			font-size: 110%;
			width: 4.5vw;
			bottom: 1vh;
		}

		#host_settings_title{
			padding-top: 0;
		}

		.settings_title{
			margin-left: 1vw;
			margin-top: 0;
		}

		.left_toggle_border{
			margin-right: 1vw;
			padding-right: 0;
		}

		.right_toggle_border{
			right: 5vw;
		}

		.settings_item{
			margin-left: 2vw;
			width: 26vw;
		}

		.settings_label{
			padding-left: 1vw;
			margin-left: 0;
		}

		#settings_music_link{
			margin: 1vh 0 1vh 0;
			width: 30vw;
		}
	}

	.settings_label{
		margin-left: 4vw;
	}

	#settings_music_link{
		margin-left: 4vw;
	}

	#leaveGameButton{
		font-size: 200%;
	}

	$chat_main_input_height: 5vh;
	$chat_tabs_width: 8vw;
	.tablet_home #chat_tabs_wrapper{
		display: none;
	}

	.tablet_game #chat_tabs_wrapper{
		height: 100vh - $nav_button_height;
		bottom: 0;
		padding-bottom: $chat_main_input_height;
	}

	.tablet_game #chat_tabs_wrapper{
		display: initial;
		width: $chat_tabs_width;
	}

	.tablet_game #chat_tabs{
		width: $chat_tabs_width;

		.mobileChatLabel i{
			display: none;
		}
	}

	#chat_tabs{
		display: flex;
		$chat_top_padding: 2vh;
		overflow-x: hidden;

		*{
			list-style: none;
		}

		.chatTab{
			height: auto;
			width: $chat_tabs_width;

			display: block;
			position: relative;
			margin-top: 2vh;

			a{
				display: none;
			    background-color: black;
			    color: #fff;
			    text-align: left;
			    border-radius: 6px;
				padding: 5px 1vw;
				position: absolute;
			    z-index: 1;
				top: 50%;
    			transform: translateY(-50%);
			    left: 100%;
			    font-size: 1.1rem;
			    width: auto;
			    white-space: nowrap;
			    border: 0;
			}

			a::after{
				content: "";
			    position: absolute;
			    top: 50%;
			    right: 100%;
			    margin-top: -5px;
			    border-width: 5px;
			    border-style: solid;
			    border-color: transparent black transparent transparent;
			}
		}

		.chatTab:last-child{
			margin-bottom:  $chat_main_input_height + 1.5vh;
		}


		.chatTabIcon{
			margin-left: 0;
			margin-right: 0;
			padding-left: 0.5vw;
			font-size: 1.4rem;
			width: 100%;
			text-align: center;
			display: inline-block;
		}

		.activeTab{
			a{
				background: $selected_tab_label_color;
			}

			a::after{
			    border-color: transparent $selected_tab_label_color transparent transparent;
			}

			.chatTabIcon{
				color: $chat_tab_selected;
			}

			.chatPointer{
			display: initial;
				height: 100%;
				width: 1vw;
				position: absolute;
				top: 0;
				right: -0.5vw;
				background-color: $chat_active_arrow;
				border-radius: 0.5vw / 1vw;
			}
		}
	}



	.tablet_game #chat_tabs:hover{
		width: 2 * $chat_tabs_width;
		background-color: #30262680;
		a{
			display: initial;
		}
		.chatPointer{
			display: none;
		}
	}



	#main{
		.chat_pane{
			height: 100%;
			width: 100vw - $tablet_nav_pane_width - $chat_tabs_width;
			left: $chat_tabs_width;

			li .headerLabel{
				margin: 2% 0 2% 0;
			}

			li{
			}

			@include nar_border;
		}

		.chat{
			background-color: $main_backgroud;
			height: 100%;
			border: 0;

			li{
				padding: 0.25% 1% 0.5%;
			}

			li:last-child{
				padding-bottom: 2%;
			}
		}
	}

	#messages .chatPic{
		font-size: 120%;
		width: 3.5vw;
		padding-top: 1.3vh;
	}

	#messages{
		.speakerLabel, .speakerText{
			margin-left: 4vw;
		}

		.speakerLabel{
			margin-bottom: 0.75vh;
		}
	}



	.tablet_home .chat_input{
		display: none;
	}

	.tablet_game .chat_input{
		left: $chat_tabs_width;
		width: 100vw - $tablet_nav_pane_width - $chat_tabs_width;
	}

	.chat_input{
		position: fixed;
		bottom: 0;
		height: $chat_input_height;
		padding-left: 1%;

		font-size: 125%;
	}

	#puppetIcon{
		left: $chat_tabs_width;
		bottom: $chat_input_height;
		font-size: 98%;
		width: 5vw;
		height: $chat_input_height * 0.9;
		margin-bottom: 0;
	}
	#puppetText{
		display: none;
		bottom: $chat_input_height;
		left: 5vw + $chat_tabs_width;
		font-size: 105%;
		height: $chat_input_height * 0.9;
		margin-bottom: 0;
	}

	#puppetList{
		left: $chat_tabs_width;
		bottom: $chat_input_height;
		font-size: 100%;

		li{
			padding-left: 6vw;
			padding-right: 3vw;
		}
	}

	.chat_active{
		#main .chat{
			height: calc(100% - #{$chat_main_input_height});
		}
	}


	.newFeedbackPopup{
		width: 50vw;
		margin-left: 25vw;
	}

	.font-size{
		font-size: 300%;
	}

	.feedbackPic{
		max-width: 50%;
		max-height: 50%;
	}

	.newFeedbackContents{
		list-style: square;
		margin-left: 4%;
		margin-right: 4%;
	}

	.feedbackNext{
		width: 60%;
		right: 20%;
	}

	//end main
}
