@import 'colors';
@import 'shared';
@import 'sizeConstants';
$black_text_color: #232323;

$selected_tab_color: #888;
$button_background_color: #eee;


@mixin floating_background{
	border-radius: 2%;
	background: $nar_background_color2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@import 'components/labelAdornment';

@import 'components/button';
@import 'components/dropdown.scss';
@import 'components/labeledSpan';
@import 'components/toggle.scss';

@import 'components/labeledModifier';

@import 'components/entityDetailsContainer';
@import 'components/doubleListContainer';
@import 'components/floatingTintedContainer';
@import 'components/playerIcon';
@import 'components/titledListContainer';

@import 'components/nav/navBar';
@import 'components/chat/chatContainer';


button:active{
	outline: 0;
}

html {
	height: 100%;
}

body{
	height: 100vh;
	font-size: 62.5%;
	min-height: 100vh;
	margin: 0;

	background-color: $main_backgroud_darker;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

li{
	list-style-position: inside;
}

.miniIcon{
	display: none;
}

@media (max-device-width : 600px){
	#miniIconTextWrapper{
		display: none;
	}
}

#main {
	position: absolute;
	top: 10vh;
	width: 100%;
	height: 90vh;
}

#root{
	width: 100vw;
	height: 100vh;
	top: 0;
	position: fixed;

	display: flex;
	flex-direction: column;
}

.fullPageContainer{
	display: flex;
	flex-grow: 1;
	height: 0;

	padding: $width_spacing;
	box-sizing: border-box;
}

.borderedSection{
	border-width: 0.3px;
	border-style: solid;
	border-radius: $defaultBorderRadius;
	border-color: $grey3;
}

$nav_button_width : 20%;
$nav_button_text_height: 0.8rem;
.nav_button{
	position: absolute;
	height: 100%;
	width: $nav_button_width;
	top: 0;
	color: white;
	cursor: pointer;

	input{
		width: 100%;
		height: 54%;
		background: none;
		border: 0;
	}

	.fa, .fab{
		position: absolute;
		top: 10%;
		width: 100%;
		text-align: center;
	}

	.nav_button_text{
		position: absolute;
		color: $norm_text_color;
		top: 65%;
		//height: $nav_button_text_height;
		height: auto;
		font-size: $nav_button_text_height;
		text-align: center;
		width: 100%;
	}
}


$gradient_color1 : #999;
$gradient_color2 : #333;

.nav_bar{
	position: absolute;
	display: initial;
	top: 0;
	left: 0;
	height: $nav_button_height;
	width: 100%;

	font-size: 140%;
	background : linear-gradient(180deg, #555555 0%, #555555 0%, $black1 77%, $black1 100%);

	.fa, .fab{
		font-size: 1.67rem;
	}
}


$nohost_nav_button_width : 25%;


.mobile{
	#nav_tab_1{
		left: 0;
	}

	#nav_tab_2{
		left: 100% - (4 * $nav_button_width);
	}
	#nav_tab_3{
		left: 100% - (3 * $nav_button_width);
	}
	#nav_tab_4{
		left: 100% - (2 * $nav_button_width);
	}
	#nav_tab_5{
		left: 100% - $nav_button_width;
	}
}


.fourButtonNav{
	.nav_button{
		width: $nohost_nav_button_width;
	}
	#nav_tab_1{
		left: 0;
	}

	#nav_tab_2{
		left: $nohost_nav_button_width;
	}
	#nav_tab_3{
		left: (2 * $nohost_nav_button_width);
	}
	#nav_tab_4{
		left: (3 * $nohost_nav_button_width);
	}
	#nav_tab_5{
		display: none;
	}
}

.gameOver{
	#nav_tab_5{
		.fa, span{
			color: $button_delete_leave_color;
		}
	}
}


.fa, .fab{
	background: none;
	color: $norm_text_color;
}

.navbarIcon{
	color: $norm_text_color;
}

.selected_nav, .nav_button:hover{
	.nav_button_text{
		color: $selected_text_color;
	}
	.navbarIcon{
		color: $selected_text_color;
	}
}

.selected_nav {
	.nav_button_text{
		font-weight: bold;
	}
}

#mobile, #tablet{
	color: white;
}

$gen_settings_toggle_border_radius: 5px;
@mixin narButtonStyle{
	border: 1px solid $norm_text_color;
	border-radius: $gen_settings_toggle_border_radius;

	background-color: $button_background_color;
}



/* Game Play CSS Info */
#main{
	overflow: hidden;
}
#main_header{
	display: none;
}

.unselected_nav{

}



/* General Info Area */
/* aka 'overview' area */

#chat_ticker_pane{
	position: fixed;
	width: 100%;
	height: $chat_ticker_height;
	bottom: 0;
	color: white;
	overflow: hidden;

	background-color: $nar_background_color;

	z-index: 2;
}

#chat_ticker_new_message{
	position : absolute;
	width : 100%;
	padding : 1%;
	overflow: hidden;
	font-size: 1.1rem;

	height: $chat_ticker_height;

	.headerLabel{
		text-align: center;
		font-size: 350%;
	}

	.chatPic{
		font-size: 1.5rem;
	}

	.speakerLabel{
		position: fixed;
		font-size: 1.1rem;
		bottom: $chat_ticker_height / 2 + 0.6vh;
	}

	.speakerText{
		position: fixed;
		top: 100vh - ($chat_ticker_height / 2) - 0.5vh;
	}

	.speakerLabel, .speakerText {
	    margin-left: 17vw;
	}
}


$chat_ticker_expander_height: 5.75vh; //of the chat_ticker width
#chat_ticker_expander{
	position: fixed;
	height: $chat_ticker_expander_height;
	width: $chat_ticker_expander_width;
	text-align: center;
	right: 0;
	bottom: $chat_ticker_height;
	z-index: 1;

	background-color: $nar_background_color;

	.fa{
		/*position: absolute;
		top: -17%;
		right: 0;

		height: 100%;
		width: 100%;*/


		font-size: 1.6rem;
	}
}
#chat_ticker_expander_icon{
	display: table-cell;
	height: $chat_ticker_expander_height;
	position: initial;
}

$unread_ticker_color: #20fc34;;
.unread_ticker{
	color: $unread_ticker_color;
}

#warningPopup{
	display: none;
	position: fixed;
	height: 20%;
	width: 80%;
	left: 10%;
	bottom: 15%;
	z-index: 2;

	border-radius: 7%;
	border: black 10px double;

	background-color: $nar_background_color;

	.fa{
		position: absolute;
		height: 25%;
		width: 10%;
		right: 0;
		top: 0;

		color: red;
	}

	span{
		position: absolute;
		width: 100%;
		top: 28%;

		text-align: center;
		color: $norm_text_color;
		font-size: 270%;
	}
}

@import 'landingWindow/lobbiesContainer';
@import 'landingWindow/loginContainer';
@import 'landingWindow/gameCreateContainer';
@import 'setupWindow/setupWindow';
// importing lobby, because lobby will overwrite some setup css
@import 'lobbyWindow/lobby';
@import 'gameWindow/infoPane';
@import 'gameWindow/votePane';


/* main page */
#chat_send_form{//this can just be repurposed to only use the one form, and make it visible everywhere else
	height: 0;
}

#roleList_content ul{
	left: 0;
}

$overview_image_height: 20%;
$image_left_padding : 4%;

$pic_size: 12vw;
#your_exp_pane{
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;

	color: $norm_text_color;
	font-size: 240%;

	h2, li, div{
		height: auto;
	}

	img{

		width: $pic_size;
		height: $pic_size;
		margin-bottom: 6%;
	}

	//your name
	.roleCardHeader{
		font-size: 1.4rem;
		padding-right: ($pic_size / 2);
	}

	.roleCardSubHeader{
		font-size: 1.2rem;
		padding-right: ($pic_size / 2);
	}

	.roleCardExplanationText{
		font-size: 100%;
	}

	.left_toggle_border{
		left: 50%;
	}

	.right_toggle_border{
		right: 50%;
	}
}


#your_exp_header{
	height: 10%;
}

#your_exp_content{
	height: 20%;
}

#your_exp_header *{
	text-align: center;
}

#your_exp_img_explanation{
	position: relative;
	height: 60%;
	width: 100%;

	#your_rolepic{
		top: 0;
		position : absolute;

		img{
			width: 40%;
		}
	}

	#your_exp_explanation{
		position: absolute;
		font-size: 76%;
		top: 30%;
		left: calc(#{$overview_image_height} + (2 * #{$image_left_padding}));
		width: 60%;
	}
}

$last_will_button_height: $nav_button_height - 1vh;
$last_will_bottom: $chat_ticker_height + $chat_ticker_height;
$your_extras_height: 100vh - $nav_button_height - $last_will_bottom - $last_will_button_height - $chat_ticker_height;
#your_exp_extras{
	padding-left: 4%;
	padding-right: 4%;

	font-size: 1.01rem;
	overflow-y: auto;

	max-height: calc(#{$your_extras_height} - #{$pic_size}); //aka $your_role_img_height

	.your_exp_spacer{
		margin-bottom: 5%;
	}


	li{
		list-style-type: square;
	}
}


#last_will_area{
	display: none;
	position: absolute;
	width: 90%;
	height: 100vh - $chat_ticker_height - $chat_ticker_height - $last_will_button_height - 4vh - 10vh;
	top: 10%;
	left: 5%;
	padding: 2%;
	border-radius: 2%;
	z-index: 1;

	font-size: 1rem;
	background-color: $button_color;
}

#last_will_button{
	position: absolute;
	margin-bottom: 10px;
	bottom: $last_will_bottom;
	width: 56%;
	left: 22%;

	height: $last_will_button_height;
	border: 1px solid;
	border-radius: 15%;

	font-size: 2rem;
	background-color: $button_color;
	z-index: 2;
}

.lw_toggle{
	position: absolute;
	bottom: $chat_ticker_height + 2vh;
	height: $last_will_button_height / 2;
	width: 25%;
	font-size: 130%;
	text-align: center;
	padding: 1%;
	z-index: 2;
}



.lw_none{
	.last_will_item{
		display: none;
	}
}

.lw_single{
	.lw_toggle{
		display: none;
	}

	#last_will_button{
		display: block;
	}
}

.lw_double{

	#last_will_button{
		display: block;
	}

	.lw_toggle{
		border: 1px solid $norm_text_color;
	}
}

$the_button_margin_bottom: 1vh;
#action_nav_pane{
	position: fixed;
	display: none;
	height: 100vh - $chat_ticker_height - $nav_button_height;
	width: 100%; //overrides the 50% in over_view_list_content
	top: $nav_button_height;
	overflow-x: hidden;
	*{
		overflow-x: hidden;
	}
}

#action_nav_pane .playerListSetupMarking {
	overflow: hidden;
}

$action_header_font_size : 1.7rem;
$action_header_padding: 1%;
#playerListPane2{
	width: 100vw;
	height: 100vh - $nav_button_height;
	border: 1px $over_view_border_color solid;
	position: fixed;
	top: $nav_button_height;
}


#playerList_header{
	height: $ability_header_size; //defined in shared
	width: 100%;
	overflow-y: hidden;

	span{
		width: 100%;
		height: $ability_header_size;
		text-align: center;
		font-size: $action_header_font_size;
		padding: $action_header_padding 0 $action_header_padding 0;
		overflow-y: hidden;
	}

	.action_changer{
		position: absolute;
		margin-top: $action_header_padding;
		width: $ability_header_size;
		height: $ability_header_size;
		font-size: 15px;
		cursor: pointer;
	}

	#arrow1{
		left: 50px;
	}

	#arrow2{
		right: 50px;
	}
}


#player_list{
	position: absolute;
	top: $ability_header_size;
	width: 100%;
	overflow-y: auto;
	list-style: none;
	padding-bottom: 3%;

	$targetable_span_width: 50%;
	.action_targetable_element{
		height: auto;
		text-align: center;

		font-size: 1rem;
	}

	$action_targetable_element_margin: 2.5%;
	select.action_targetable_element{
		margin-left: (100% - $targetable_span_width) / 2;
		margin-right: (100% - $targetable_span_width) / 2;
		width: $targetable_span_width;

		text-align: center;
		text-align-last: center;
		margin-top: 1.5 * $action_targetable_element_margin;
		margin-bottom: 1.5 * $action_targetable_element_margin;

		option{
			font-size: 50%;
		}

	}

	$targetable_span_width: 56vw;
	$targetable_border_radius : 15px;
	li.action_targetable_element{
		position: relative;
		margin-left: (100vw - $targetable_span_width) / 2;
		width: $targetable_span_width;

		color: $norm_text_color;
		background-color: $target_deselected;
		z-index: 0;

		cursor: pointer;

		border: 1px $over_view_border_color solid;
		border-radius: $targetable_border_radius;
		margin-top: $action_targetable_element_margin;
		margin-bottom: $action_targetable_element_margin;
		padding-top: 0.5vh;
		padding-bottom: 0.5vh;

		.targetable_half{
			position: absolute;
			width: 50%;
			height: 100%;
			top: 0;
			z-index: -1;
		}

		.left_targetable, .left_targetable_click{
			left: 0;
		}


		.right_targetable, .right_targetable_click{
			left: 50%;
		}

		.left_targetable_click, .right_targetable_click{
			z-index: 5;
		}

		.playername{
			$playername_margin: 10vw;
			left: 0;
			color: white;
			width: 100%;
			height: 100%;
			padding-top: 8px;
			padding-bottom: 8px;
			top: 0;
			text-align: center;
			max-width: $targetable_span_width - $playername_margin - $playername_margin;
			margin-left: $playername_margin;
		}

		.left_playerList_selected{
			background-color: $target_selected;
			border-radius: $targetable_border_radius 0 0 $targetable_border_radius; /* top left, top right, bottom right, bottom left */
		}

		.right_playerList_selected_red{
			background-color: $target_selected;
			border-radius: 0 $targetable_border_radius $targetable_border_radius 0; /* top left, top right, bottom right, bottom left */
		}

		.right_playerList_selected_green{
			background-color: $target_half_right_selected;
			border-radius: 0 $targetable_border_radius $targetable_border_radius 0; /* top left, top right, bottom right, bottom left */
		}

		.targetable_hovering{
			background-color: $target_selected_hover;
		}

		.targetable_active{
			background-color: $target_active;
		}
	}

	li.action_targetable_element:first-of-type{
		margin-top: 0;
	}


} //end styling for #playerListPane2


#actions_pane{
	position: fixed;
	bottom: $chat_ticker_height;
	width: 100vw;


	overflow-x: initial;
	*{
		overflow-x: initial;
	}

	#add_action{
		margin-left: 15%;
	    height: 5vh;
	    width: 70%;
	    font-size: 150%;
	}

	$submitted_action_header_font_size: 1.2rem;
	#actions_header{
		top: 0;
		width: 100%;
		height: auto;

		font-size: $submitted_action_header_font_size;
		text-align: center;
		overflow-y: hidden;
	}

	#actions_content{
		top: $submitted_action_header_font_size;
		padding-top: 5px;
		overflow-y: auto;
		//height: auto;//calc(100% - 7% - #{$the_button_height} - #{$the_button_margin_bottom});
		//width: 50%;
		font-size: 0.87rem;
		li{
		    color: $norm_text_color;
			text-align: left;
			height: auto;
			padding-bottom: 10px;
			margin-left: 10%;
			display: list-item;
			list-style-type: decimal;
		}
	}


}

$button_width: 60vw;
#end_night_button{
	position: absolute;
	margin-top: $the_button_margin_bottom;
	margin-bottom: $the_button_margin_bottom;
	padding: 0 2% 0 2%;
	width: $button_width;
	left: (100vw - $button_width) / 2;
	bottom: 0;

	cursor: pointer;

	font-size: 1.2rem;
	background-color: $button_color;
	font-weight: bold;

	*{
		width: 100%;
		border-radius: 3%;
	}
}

.pl_no_actions{

	#actions_header{
		display: none;
	}

	#player_list{
		height: 100vh - $nav_button_height - $ability_header_size - $chat_ticker_height;
	}

	#actions_content{
		display: none;
	}

	#end_night_button{
		display: none;
	}
}

//copy of below
.pl_show_actions{

	$submitted_actions_height : 25vh;
	#actions_header{
		display: block;
	}
	#actions_pane{
		height: $submitted_actions_height;
		border-top: 1px $over_view_border_color solid;
	}
	#actions_content{
		display: list-item;
	}
	#player_list{
		height: 100vh - $nav_button_height -$ability_header_size - $submitted_actions_height - $chat_ticker_height;
	}
	#end_night_button{
		height: $the_button_height;
		input{
			height: 80%;
		}
	}
}

//copy of above
.pl_show_actions_no_button{
	$submitted_actions_height : 20vh;
	#actions_header{
		display: block;
	}
	#actions_pane{
		height: $submitted_actions_height;
		border-top: 1px $norm_text_color solid;
	}
	#actions_content{
		display: list-item;
	}
	#player_list{
		height: 100vh - $nav_button_height - $ability_header_size - $submitted_actions_height - $chat_ticker_height;
	}
	#end_night_button{
		display: none;
	}
}

.pl_only_button{
	$submitted_actions_height : $pl_only_button_height;
	#actions_header{
		display: none;
	}

	#actions_content{
		display: none;
	}

	#player_list{
		height: 100vh - $nav_button_height -$ability_header_size - $submitted_actions_height - $chat_ticker_height;
	}

	#actions_pane{
		//height: $submitted_actions_height / 2;
	}
	#end_night_button{
		height: $the_button_height * 1.5;

		input{
			height: 80%;
		}
	}
}

#settings_pane{
	position: absolute;
	top: 0;
	width: 100%;
	padding-top: 2vh;
	height: 100vh - $chat_ticker_height;

	@include nar_border;

	.settings_toggle{
		width: 15vw;
		padding: 0.5vh 0;
		margin-bottom: 1vh;

		position: absolute;
		cursor: pointer;

		bottom: 0.5vh;


		text-align: center;
		font-size: 1rem;
		color: $norm_text_color;

		@include nar_border;
	}

	.settings_toggle:hover{
		font-weight: bold;
	}

	.selected_toggle{
		color: $black_text_color;
	}

	.left_toggle_border{
		margin-right: 4vw;
		padding-right: 0;
		right: 0;
	}

	.right_toggle_border{
		right: 15vw + 3vw;
	}
}

.settings_item{
	position: relative;
	height: auto;
	width: 94vw;
	margin-left: 3vw;
	overflow: hidden;

	background-color: #333;

	@include nar_border;
	border-top: 0;
}



.settings_item_first{
	border-radius : 2% 2% 0 0;
	padding-top: 1vh;

	@include nar_border;
}

.settings_item_last{
	@include nar_border;
	border-top: 0;
	border-radius : 0 0 2% 2%;
}

.settings_title{
	font-size: 1rem;
	margin-left: 3vw;
	width: 94vw;
	font-weight: bold;
	color: $norm_text_color;

}

.settings_label{
	font-size: 1rem;
	padding-top : 2vh;
	padding-bottom : 2vh;
	padding-left: 3vw;
	color: $norm_text_color;
	display: block;
}

.host_action{
	cursor: pointer;
}

.host_action:hover{
	background-color: $nar_background_color;
}

#settings_music_link{
	display: block;
	color: #ADD8E6;
	font-size: 0.75rem;
	width: 100vw;
	text-align: center;

	margin-top: 1vh;
	margin-bottom: 1vh;
}

.host_setting, .firstPhaseHostAction{
	display:none;
}

.isHost .host_setting{
	display: block;
}

.isHost.isFirstPhase .firstPhaseHostAction{
	display: block;
}

#host_settings_title{

}


#leaveGameButton{
	width: 66%;
	margin-top: 10%;
	margin-left: 17%;

	height: $last_will_button_height;
	border: 1px solid;
	border-radius: 15%;

	font-size: 400%;
	background-color: $button_delete_leave_color;
	display: none;
}

#chat_tabs_wrapper{
	position: absolute;
	height: calc(100% - #{$nav_button_height});
	bottom: 0;
	width: 100%;
	display: none;
	z-index: 1;
}


#chat_tabs{
	position: absolute;
	height: auto;
	max-height: 100%;
	bottom: 0;
	width: 100%;
	overflow-y: auto;
	display: inline-flex;
	flex-direction: column;
	color: $norm_text_color;

	div{
		cursor: pointer;
	}

	a{
		width: 100%;
		display: list-item;
		text-align: center;
		border: 1px $norm_text_color solid;
		font-size: 1.7rem;
		padding : 2.5%;

	}

	.unread_ticker{
		color: $unread_ticker_color;
	}

	.activeTab{
		a{
			background: $selected_tab_color;
		}
	}

	.fa{
		width: initial;
		height: initial;
		position: initial;
		margin-left: 0.3vw;
		margin-right: 0.5vw;
	}
	.chatTabIcon{
		display: none;
	}

	.chatPointer{
		display: none;
	}
}

#chat_header{
	display: none;
}

.chat li:hover{
	background-color: $target_selected_hover;
}

#messages li{
	position: relative;
	font-size: 1rem;
	.headerLabel{
		font-size: 1.4rem;
	}
	padding-bottom: 0.5vh;
}

.speakerLabel, .speakerText{
	margin-left: 15vw;
}

.speakerLabel{
	display: block;
	font-weight: 900;
	font-size: 1rem;
}

.speakerText{
	color: white;
	font-size: 1rem;
}

.chatPic{
	padding-top: 1.4vh;
	position: absolute;
	top: 0;
	width: 15vw;
	text-align: center;
}

#messages .chatPic{
	font-size: 1.5rem;
}

.chat_pane{
	position: absolute;
	top: 0;
	width: 100%;

	@include nar_border;

	li{
		height: auto;
		width: 100%;
		color: $norm_text_color;

		.headerLabel{
			margin: 3% 0 3% 0;
			text-align: center;
		}
	}
}

.chat{
	height: 100vh - $chat_ticker_height - $nav_button_height;
	padding-bottom: 0.5vh;

	list-style: none;

	li{
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 0.4%;
		padding-bottom: 0.4%;
	}
}

.chat_input, #main .chat_input{
	display: none;
}

#main .chat_pane{
	height: 100%;
}

#puppetIcon{
	display: none;
	position: absolute;
	bottom: $chat_ticker_height;
	left: 0;

	height: auto;
	width: 6.5vw;

	margin-bottom: 1%;
	padding-left: 1.5%;
	padding-top: 0.5%;

	font-size: 0.85rem;

	@include nar_border;
	border-right: 0;
	border-bottom: 0;
}

#puppetText{
	position: absolute;
	display: none;

	bottom: $chat_ticker_height;
	left: 6.5vw;
	padding: 0.5% 1.5% 0 1.5%;
	margin-bottom: 0.5%;

	color: $norm_text_color;
	font-size: 0.75rem;

	@include nar_border;
	border-left: 0;
	border-bottom: 0;
}

#puppetList{
	position: absolute;
	display: none;

	bottom: $chat_ticker_height;

	list-style: none;
	font-size: 1rem;
	color: $norm_text_color;
	background: $nar_background_color;

	li{
		padding-top: 1vh;
		padding-bottom: 1vh;
		padding-left: 9vw;
		padding-right: 6vw;

		@include nar_border;
		border-bottom: 0;
	}

	.puppetIco{
		display: none;
		height: auto;
		position: absolute;
		left: 2vw;
	}

	.selectedPuppet{
		background-color: $nar_background_color2;

		.puppetIco{
			display: initial;
		}
	}
}

.chat_input{
	bottom: 0;
	height: $chat_ticker_height;
	position: absolute;
	display: none;
	width: 100%;
	padding: 0 2% 0 2%;
	z-index: 2;
	font-size: 200%;
}

.chat_active{
	.chat_input{
		display: initial;
	}
}

.puppetsShowing{

	#puppetText, #puppetIcon{
		display: initial;
	}

	.chat{
		height: calc(100% - #{$chat_ticker_height} - 3vh);
	}
}

.chat_send_button{
	display: none;
}


.backdropPopup{
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.2);
	display: none;
}

.newFeedbackPopup{
	position: absolute;
	top: 0;
	margin-top: 20vh;
	height: 60vh;
	margin-left: 10vw;
	width: 80vw;
	background: $nar_background_color;
	z-index: 20;

	@include nar_border;
}

.newFeedbackHeader{
	text-align: center;
	font-size: 1.5rem;
	color: $norm_text_color;
}

.feedbackPic{
	height: 60vw;
	width: 60vw;
	z-index: 6;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.newFeedbackContents{
	font-size: 1rem;
	color: $norm_text_color;
	list-style: none;
	margin-left: 3%;
	margin-right: 3%;
	overflow-y: auto;
	max-height: 30%;
}

.feedbackNext{
	width: 80%;
	position: absolute;
	right: 10%;
	font-size: 1.9rem;
	font-weight: 800;
	bottom: 2%;

	z-index: 20;

	cursor: pointer;
	background-color: $button_color;
	border-radius: 5%;
}

.feedbackNext:hover{
	background-color: #FFD2D2;
}

.roleHover:hover {
	text-decoration: underline;
	font-style: italic;
	cursor: pointer;
}

.center_parent{
	display: table;
}

.center_child{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

@media (max-device-width : 600px){
	#mobile{
		color: rgb(255, 165, 0);
	}

	.keyboardUp{
		.nav_bar{
			display: none;
		}

		#main{
			top: 0;
			height: 100%;
		}

		.chat_input{
			height: 12vh;
		}

		.chat_pane{
			border: 0;
		}

		#last_will_button{
			height: 20vh;
			bottom: 6vh;
		}
	}
}
