

@media (min-device-width : 600px) and (orientation: landscape){
	.chat{
		padding-bottom: 1vh;
	}
}

@media (min-device-width: 1000px) and (orientation: landscape){
	#chat_ticker{
		width: 1000px;
		left: calc(50% - 500px);
	}

	.feedbackPic{
		max-width: 35%;
		max-height: 35%;
	}

	.newFeedbackContents{
		max-height: 18vh;
	}

	.feedbackNext{
		max-height: 7vh;
	}

	$chat_tabs_wrapper: 8vw; //1 vw difference
	.tablet_game #chat_tabs_wrapper, #chat_tabs .chatTab {
		width: $chat_tabs_wrapper;
	}
	#puppetList, #puppetIcon, .tablet_game .chat_input, #main .chat_pane{
		left: $chat_tabs_wrapper;
	}
	#puppetText{
		left: 11vw; //orginally 12vw
	}

	#main .chat_pane, .tablet_game .chat_input{
		width: 62vw; //originally 63vw;
	}

	#chat_tabs .chatTab a{
		padding-left: 0.75vw;
		padding-right: 0.75vw;
	}
}


@media (min-device-width : 1100px) and (orientation: landscape){
	.nav_button .nav_button_text{
		font-size: 1.1rem;
	}

	#chat_tabs .chatTab a{
		left: 104%;
	}
}


@media (min-device-width : 1200px) and (orientation: landscape){
	.playerULIcon{
		width: 3.5vw;
		height: 3.5vw;
		line-height: 2.5vw;
	}

	#end_night_button{
		width: 44%;
		left: 28%;
	}

	#actions_pane #actions_content{
		font-size: 1rem;
	}
}


@media (min-device-width : 1300px) and (orientation: landscape){
	#settings_pane #settings_music_link{
		margin-top: 1vh;
		margin-bottom: 1vh;
	}

	#chat_tabs .chatTab a{
		left: 85%;
	}
}

@media (min-device-width : 1800px) and (orientation: landscape){
	#chat_tabs .chatTab a{
		padding-left: 0.5vw;
		padding-right: 0.5vw;
	}
}
