@import 'colors';


$over_view_border_thickness: 1px;
$over_view_border_color: black;

@mixin nar_border{
	border: $over_view_border_thickness solid $over_view_border_color;
}

@mixin nar_input{
	background: transparent;

	border: none;
	border-bottom: 0.5px solid $norm_text_color;

	color: $norm_text_color;
}

$ability_header_size: 6vh;

$the_button_height: 5vh;
$pl_only_button_height: $the_button_height * 1.5 + 0vh;
