@import '../../colors';
@import '../../sizeConstants';


$navBarHeight: $nav_height;

.navBar{
  height: $navBarHeight;
  max-height: 90px;
  background: linear-gradient(180deg,$grey2 0%,$grey2 0%,$black1 77%,$black1 100%);

  padding: 0 $width_spacing;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homeNav{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.navHomeIcon{
  max-height: 80px;
  margin-right: 2 * $width_spacing;
}

.navLabel{
  color: $norm_text_color;
  font-size: $largeTextFontSize;
}

.topNavBarItems{
  display: flex;
  flex-direction: row;
}

.navBarItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  border: 1.5px solid $norm_text_color;
}

.navBarItem.isOnWhite{
  border: 1.5px solid $dark_text_color;
}

.navBarItemIcon{
  font-size: $largeTextFontSize;
  margin-right: 12px;
  color: $norm_text_color;
}

.navBarItemText{
  font-size: $normTextFontSize;
  color: $norm_text_color;
}

.navBarItemText.isOnWhite{
  color: $dark_text_color;
}

$cutoverWidth: 635px;
@media (max-width : $cutoverWidth) {
  .navMenuIcon{
    color: $iconColor;
    font-size: 2 * $normTextFontSize;
  }

  .drawerNavBarItems {
    background-color: $main_backgroud_darker;
    position: fixed;
    right: 0;
    top: $navBarHeight;

    display: flex;
    flex-direction: column;
    min-width: 33vw;

    border-left: black 5px solid;
    border-bottom: black 5px solid;

    .navBarItem{
      border: 0;
    }
  }

  .topNavBarItems{
    display: none;
  }
}

@media (min-width: ($cutoverWidth + 1px)) {
  .navMenuIcon{
    display: none;
  }

  .navBarItem{
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .navBarItem:hover{
    border: 1.5px solid $white;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
